/*-----------------------------
VARIABLES
-----------------------------*/

:root {
    --bg-Primary: #fff;
    --bg-Secondary: #f0f0f0;
    --txt-Primary: #000;
    --txt-Secondary: #222;

    --box-shadox: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

/*-----------------------------
MODO CLARO - OSCURO
-----------------------------*/

.u-Dark {
    --bg-Primary: #000;
    --bg-Secondary: #222;
    --txt-Primary: #f0f0f0;
    --txt-Secondary: #ddd;

    --box-shadox: 1px 1px 5px rgb(255, 255, 255, 0.5);

    
}

/*-----------------------------
CLASES REUTILIZABLES - UTILITIES, 
-----------------------------*/
.u-bgPrimary {
    background: var(--bg-Primary);
    transition: background-color 0.3s ease;
}

.u-bgSecondary {
    background: var(--bg-Secondary);
    transition: background-color 0.3s ease;
}

.u-txtPrimary {
    color: var(--txt-Primary);
    transition: color 0.3s ease;
}

.u-txtSecondary {
    color: var(--txt-Secondary);
    transition: color 0.3s ease;
}

.u-boxShadow {
    box-shadow: var(--box-Shadow);
}


/* Modo Row / col*/
.u-flexCol {
    display: flex;
    flex-direction: column;
}

.u-flexRow {
    display: flex;
    flex-direction: row;
}

/*-----------------------------
CONTROLLERS
-----------------------------*/

.Controllers {
    position: fixed;
    bottom: 20px;
    right: 10px;

    /* left: 50%;
    transform: translate(-50%);
    */

    display: flex;
    gap: 10px;
    padding: 10px;
}

.Btn {
    color: var(--txt-primary);
    background: var(--bg-primary);
    border: none;
    box-shadow: var(--box-shadox);

    cursor: pointer;
    padding: 10px;
    min-width: 100px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn--icon {
    min-width: unset;
    border-radius: 100%;
}